 
.packagecard{
    padding: 1rem;
    display: flex;
    width: 20rem;
    flex-wrap: nowrap;
    position: relative;
    margin-top: 1rem;
    overflow: hidden;
    background-color: transparent;
    z-index: 5;
    flex-direction: column;
    color: #000;
    border-radius: 1.5rem;
    box-shadow: inset 0 -3em 3em rgba(16, 9, 9, 0.1), 0 0 0 2px rgb(208, 198, 198),
    0.3em 0.3em 1em rgba(248, 248, 248, 0.3);
    cursor: pointer;
}
.packagecard::before{
    width: 80rem;
    height:80rem;
    left: -20rem;
    background-color: #f0f5fa;
    content: '';
    /* opacity: .8 ; */
    top: 12rem;
    z-index: -1;
    position: absolute;
    animation: rotate 11s  linear infinite;
    border-radius: 45%;
  
  }
  .packagecard::after{
    left: 0;
    width: 80rem;
    height:80rem;
    border-radius: 47%;
    background-color: #50a4ca;
    content: '';
    z-index: -1;
    left: -20rem;
    opacity: .3;
    top: 8rem;
    position: absolute;
    animation: rotate 10s  linear infinite;
  
  }
  @keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }

.packageimage{
    height: 10rem;
  width: 100%;
  object-fit: cover; 
}

.card_destination{
   text-transform: capitalize;
}

.cardName{
font-size: 1.2rem;
text-transform: none;
}
 
 
.cardisc,.packagePrice{
    font: 1rem sans-serif;
    text-transform: capitalize;
    margin-top: .2rem;
}
 

.name_div{
    display: flex;
    flex-direction: row;
     align-items: center;
}

.starIcon{
font-size: 1.2rem;
color: rgb(230, 131, 10);
}
 
 
@media (max-width: 425px){
    .packagecard{
        width: 15rem;
    }
}

@media (max-width: 305px){
    .packagecard{
        width: 10rem;
    }
}