.auth{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding: 10px;
}
.authBody{
    background-color: #fff !important;
    width: 30rem;
    padding: 20px;
    border-radius: 30px;
}
.authBodySwapButton {
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.authBodySwapButton button {
    width: 25%;
    text-align: center;
    color: #fff ;
    background-color:#659DBD;
    border: 1px solid #659DBD;
    border-radius: 20px;
    padding: 10px 10px;
    cursor: pointer;
}

.authBodySwapButton button:hover {
  color: #659DBD ;
  border: 1px solid #659DBD;
  background-color: #fff;
}

.activeSign{
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid grey !important;
}
.signin, .signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem ;
    margin-right: 1rem;
}
.signin form{
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}
 .signup input{
  width: 90% !important;
}
.signin input{
  width: 90% !important;
}

.input-group{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-control{
  margin: .5rem 0;
}

.box{
    position: relative;
     overflow: hidden;
    background-color: transparent;
    z-index: 5;
  }
  .box::before{
    width: 80rem;
    height:80rem;
    left: -20rem;
    background-color: #f0f5fa;
    content: '';
    /* opacity: .8 ; */
    top: 12rem;
    z-index: -1;
    position: absolute;
    animation: rotate 11s  linear infinite;
    border-radius: 45%;
  
  }
  .box::after{
    left: 0;
    width: 80rem;
    height:80rem;
    border-radius: 47%;
    background-color: #74CCF4;
    content: '';
    z-index: -1;
    left: -20rem;
    opacity: .3;
    top: 13rem;
    position: absolute;
    animation: rotate 10s  linear infinite;
  
  }
  @keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }
  .signup input{
    height: 30px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border-radius: 20px;
    text-transform: none;


  }
  .signin input{
    height: 30px;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border-radius: 20px;
    text-transform: none;

  }
 

.signup button:hover{
  color:#74CCF4;
  background-color: #fff;
  border: #74CCF4;
}
.signin button:hover{
  color:#74CCF4;
  background-color: #fff;
  border: #74CCF4;
}


  .check{
    display: flex;
  }

  .check span{
    color: #000;
    margin-left: 5px;
  }
  .check input{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    outline: none !important;
    cursor: pointer;
  }

  .error{
color: red;
text-transform: capitalize;
  }

  .messageSuccess{
    padding: 3rem;
    background-color: #fff;
    color: #000;
  }
   
  .homePgLink{
    color: #fff;
    text-decoration: none;
    padding: 2rem;
    background: #74CCF4;
  }

 .forgetPassword{
  color: #17a7ea;
 text-transform: capitalize;
  cursor: pointer;
 }
 .forgetPassword:hover{
  text-decoration: underline;
 }

 

 .forgetform{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items:  center;
  justify-content: space-between;
  margin-top: 2rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 1rem;
  box-shadow: rgb(0 0 0 / 20%) 0px 6px 20px;
  /* z-index: 8;
  position: absolute;
  top: 0%;
  right: 0; */

  width: auto;
  height: auto;
  cursor: pointer;
 }

 @media only screen and (max-width: 400px){
 .activeSign{
  font-size: .6rem;
 }
  .resetBtn ,.forgetBtn{
    font-size: 1rem;
  } 
 }
