 .contactPage{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;

    
 }
 


 .contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: #fff;
    padding: 1rem;
     border-radius: 2rem;
     position: relative;
     overflow: hidden;
     /* background-color: transparent; */
     z-index: 5;
 }

 .contactForm::before{
   width: 80rem;
   height:80rem;
   left: -20rem;
   background-color: #f0f5fa;
   content: '';
   /* opacity: .8 ; */
   top: 12rem;
   z-index: -1;
   position: absolute;
   animation: rotate 11s  linear infinite;
   border-radius: 45%;
 
 }
 .contactForm::after{
   left: 0;
   width: 80rem;
   height:80rem;
   border-radius: 47%;
   background-color: #74CCF4;
   content: '';
   z-index: -1;
   left: -20rem;
   opacity: .3;
   top: 13rem;
   position: absolute;
   animation: rotate 10s  linear infinite;
 
 }
 @keyframes rotate{
   0%{
       transform: rotate(0deg);
   }
   100%{
       transform: rotate(360deg);
   }
 }

 .inTouch{
   color: black;
 }
 .Name  .Contact{
   display:flex;
   flex-direction: row;
 }
 .name , .cont , .address ,.Comment {
    text-transform: none;
 margin:.5rem;
 padding:  1rem;
 border-radius: 10px;
 }
 .address{
    padding: .7rem;
    width: 90%;
   }
   .Comment{
    padding: 1rem;
    resize: none;
    width: 90%;
   }
.Form_button{
   padding: .5rem;
   background: greenyellow;
   color: rgb(223, 20, 20);
   font-size: .8rem;
   cursor: pointer;
   width: 5rem;
   border-radius: .2rem;
 }