.Query-form {
  background-color: transparent;
  border-radius: 10%;
  border: 0.2rem solid rgb(85, 77, 77);
}

.QuickQuery {
  text-align: center;
}
.Query-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.SubmitQuery {
  width: 30%;
  text-align: center;
  color: #fff;
  background-color: #659dbd;
  border: 1px solid #659dbd;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
}

.formInput {
  background-color: #fff;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
}
