
.banner{
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: center; */
   
   
}
.background{
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
}
.formarea{
    display: flex;
    justify-content: center;
    flex: .5;
}
.qureryArea{
    margin-top: 3rem;
    width: 40%;
}
.text_area{
    margin-top: 10rem;
    flex: .5;
}
.topcut{
    height: 50vh;
    width: 100%;
    background-color: rgb(0, 0, 0,.5);
    transform: rotate(135deg);
    z-index: -1;
    margin-left: -550px;
    margin-top: -70px;
    position: absolute;
}

.bottomcut{
    height: 100vh;
    width: 100%;
    background-color: rgb(215, 230, 7,.5);
    transform: rotate(220deg);
    z-index: -2;
    position: absolute;
    margin-left: -550px;
    margin-top: 200px;
}
 
.text_area{
    color: #000;
}
.text_area h1{
    color: #fff;
    font-size:3rem;
    font-weight: 1000;
}

.text_area p {
    font-size: 1.5rem;
    font-weight: 500;
}