html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  color: white;
}

body{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.7)),url("./static/images/gallary/banner.jpg");
 background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-position: center
}
input{
  border: 1px solid gray;
}

* {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  border: 0;
   /* overflow-x: hidden; */
}

a {
  text-decoration: none;
  color: white;
}



:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none;
}

.menu button {
  cursor: pointer;
  transition: all 1s;
  padding: 0 10px;
 
}
.bt svg{
  font-size: 30px;
}
.bt {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
  border: 1px solid grey;
}



.btn{
  padding: 10px 5px ;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  width: auto;
  font-weight: 600;
  font-size: 20px;
  padding: 5px;
  color:#fff;
  background-color: #74CCF4;
}




